<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaptureX.Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CaptureX.Uploader.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="HostAddress" serializeAs="String">
                <value>https://capturex.cloud/aws/api</value>
            </setting>
            <setting name="ClinicUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ClinicPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ClinicAETitle" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageReceiveEndpoint" serializeAs="String">
                <value>https://capturex.cloud/aws/api/image/split</value>
            </setting>
            <setting name="CloudHost" serializeAs="String">
                <value>3.19.112.113</value>
            </setting>
            <setting name="CloudPort" serializeAs="String">
                <value>11112</value>
            </setting>
            <setting name="CloudAETitle" serializeAs="String">
                <value>CLOUDIMAGING192</value>
            </setting>
            <setting name="SentFilesFolderName" serializeAs="String">
                <value>Sent</value>
            </setting>
            <setting name="ReadyToSendDirectory" serializeAs="String">
                <value />
            </setting>
        </CaptureX.Uploader.Properties.Settings>
    </userSettings>
</configuration>